.bg-pollution-industry {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(9, 42, 94, 0.8)), url("../imgs/pollution-industry.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    transform: 400ms ease-out;
}

.bg-cap {
    background-image: url("../imgs/САР.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.bg-kaz {
    background-image: url("../imgs/kazakhstan.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-six {
    background-image: url("../imgs/6.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
}

.animate-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.animate-scroll.active {
    opacity: 1;
    transform: translateY(0);
}
